.float-container {
    
    border: 3px solid #fff;
    padding: 20px;
}

.float-child_map {
    width: 80%;
    height: 90vh;
    float: left;
    padding: 20px;
    border: 2px solid red;
}

.float-child_info {
    width: 20%;
    height: 90vh;
    float: left;
    padding: 20px;
    border: 2px solid red;
}

.icono {
    width: 44px;
    height: 44px;
    max-width: 70%;
    max-height: 70%;
    margin: 4px;
}